<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YenCryto - Basic Caeser Cipher Implementation</title>
</head>
<body>
    <h1>welcome to YenCryto.</h1>
    <p>
        This is the caeser cipher encyption and decryption website. 
    </p>

    <!--input section-->

    <div>
        <h2>Input</h2>
        <textarea id="inputText" rows="4" cols="50" placeholder="Enter yout text here..."></textarea>
    </div>

    <!--shift value section-->   
    
    <div>
        <h2>Shift Value</h2>
        <input type="number" value="3">
    </div>

    <!--button section-->
    
    <div>
        <button>encrypt</button>
        <button>decrypt</button>
    </div>

    <!--output section-->

    <div>
        <h2>result</h2>
        <textarea rows="4" cols="50" readonly placeholder="Result will be displayed here..."></textarea>
    </div>
    
</body>
</html>